rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sterbefaelle/{id} {
      allow read: if true;
      allow write: if false;
    }
    match /ueberfuehrungen/{id} {
      allow read: if true;
      allow write: if false;
    }
    match /events/{id} {
      allow read: if true;
      allow write: if false;
    }
  }
}
